params {
    images = [
        ubuntu:                'ubuntu:22.04',
        percolator:            'quay.io/protio/percolator:3.06',
        panorama_client:       'quay.io/protio/panorama-client:1.1.0',
        filter_pin:            'quay.io/protio/filter-pin:1.0.0',
        limelight_xml_convert: 'mriffle/comet-percolator-to-limelight:2.8.0',
        limelight_upload:      'quay.io/protio/limelight-submit-import:4.0.1',
        comet:                 'quay.io/protio/comet:2023020-prerelease2',
        proteowizard:          'quay.io/protio/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.24054-2352758'
    ]
}
