params {

    // the data to be processed
    spectra_dir     = '/path/to/spectra'
    fasta        = '/path/to/file.fasta'
    comet_params = 'comet.params'

    // whether or not to upload to limelight
    limelight_upload = false

    // limelight upload parameters
    limelight_project_id         = 7
    limelight_search_description = 'test upload search'
    limelight_search_short_name  = 'tus'
    limelight_tags               = 'foo,bar'

    // receive email when done at this address
    //email = 'your@email.com'

    // unlikely to need to change this
    limelight_webapp_url = 'https://limelight.yeastrc.org/limelight'
}

profiles {

    // params for running pipeline locally
    standard {
        params.max_memory = '16.GB'
        params.max_cpus = 7
        params.max_time = '240.h'

        params.mzml_cache_directory = '/data/mass_spec/nextflow/nf-teirex-dda/mzml_cache'
        params.panorama_cache_directory = '/data/mass_spec/nextflow/panorama/raw_cache'
    }
}

mail {
    from = 'address@host.com'
    smtp.host = 'smtp.host.com'
    smtp.port = 587
    smtp.user = 'smpt_user'
    smtp.password = 'smtp_password'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = false
    mail.smtp.ssl.protocols = 'TLSv1.2'
}
